#!/usr/bin/env zsh

# Generic aliases
alias copy='rsync -ah --info progress2'
alias rm='rm -rfv'
alias cp='cp -av'

# Output suppression
alias -g NO1='1>/dev/null'
alias -g NO2='2>/dev/null'
alias -g NO12='NO1 NO2'
alias -g NOOP='NO1 NO2'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Single letter aliases
alias c='copy'
alias d='docker'
alias e='edit'
alias f='fck'
alias g='git'
alias x='extract'

# Docker related
alias d='docker'
alias dc='docker-compose'
alias dr='docker run'
alias drr='docker run --rm -it'

# Editables
alias e='edit'
alias ez='edit ~/.zshrc'
alias ef='edit ~/.functions'
alias ea='edit ~/.aliases'

# git flow aliases
alias ff='git flow feature'
alias ffs='ff start'
alias fff='ff finish'
alias fr='git flow release'
alias frs='fr start'
alias frf='fr finish'

# git aliases
alias g='git'
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gba='git branch -a'
alias gc='git commit -v'
alias gc!='git commit -v --amend'
alias gca='git commit -va'
alias gca!='git commit -va --amend'
alias gcan!='git commit -va --amend --no-edit'
alias gclean='git clean -fd'
alias gpristine='git reset --hard && git clean -dfx'
alias gcm='git checkout master'
alias gco='git checkout'
alias gd='git diff'
alias gl='git pull'
alias gp='git push'
alias grh'git reset HEAD'
alias gss='git status -s'
alias gst='git status'

# List
alias ls='ls -gh --color'
alias l='ls -l --color'
alias la='ls -lA --color'
alias cl='clear && ls'
alias cla='clear && ls'

# Misc
alias rz='source ~/.zshrc'
alias pubkey="cat $HOME/.ssh/personal.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias wrapoff="printf '\033[?7l'" 
alias wrapon="printf '\033[?7h'"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# TODO
# List only files/folders --> alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
# Rest api colorized methods --> for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do alias "$method"="lwp-request -m '$method'"; done
