#!/usr/bin/env zsh

# Include private exports if file exists
test -f "$(dirname $0)/.private" && source "$(dirname $0)/.private"

# Directories
export BIN=$HOME/bin
export VAR=$HOME/var
export CLOUD=$HOME/stack
export DOTS=$HOME/dots

# Environment
export SHELL="/bin/zsh"
export LESSHISTFILE='-'
export _Z_DATA=$VAR/zdata
export _Z_NO_RESOLVE_SYMLINKS=true
export ANTIGEN_COMPDUMPFILE=$VAR/zcompdump
export ADOTDIR=$VAR/antigen
export HISTFILE=$VAR/history

# PATH
PATH=''
nbin='node_modules/.bin'
-add-path() { PATH="$PATH:$@" }
-add-path "./.bin:../.bin:../../.bin:../../../.bin:../../../../.bin"
-add-path "./$nbin:../$nbin:../../$nbin:../../../$nbin:../../../../$nbin"
-add-path "$BIN"
-add-path "/usr/local/opt/coreutils/libexec/gnubin"
-add-path "/usr/local/opt/gnu-sed/libexec/gnubin"
-add-path "/usr/local/opt/gnu-tar/libexec/gnubin"
-add-path "/usr/local/opt/gnu-indent/libexec/gnubin"
-add-path "/usr/local/bin"
-add-path "/usr/bin"
-add-path "/bin"
-add-path "/usr/sbin"
-add-path "/sbin"
export PATH

# EDITOR (graphical when non-ssh + osx)
[ "$(uname)" = 'Darwin' ] && [ -z "$SSH_CONNECTION" ]
export EDITOR=$([ $? -eq 0 ] && echo 'atom' || echo 'nano')

# ANSI escape codes
export RED='\033[00;31m'
export GREEN='\033[00;32m'
export YELLOW='\033[00;33m'
export BLUE='\033[00;34m'
export RESET_COLOR='\033[0m'
