#!/usr/bin/env zsh

# Quick shortcut to an editor.
# Usage: edit [<path>]
edit() {
    eval $EDITOR "${@:-.}"
}

# Extracts archived files / mounts disk images
# Usage: extract <file>
extract () {
    if [ -f $1 ]; then
        case $1 in
            *.tar.bz2)  tar -jxvf $1                        ;;
            *.tar.gz)   tar -zxvf $1                        ;;
            *.bz2)      bunzip2 $1                          ;;
            *.dmg)      hdiutil mount $1                    ;;
            *.gz)       gunzip $1                           ;;
            *.tar)      tar -xvf $1                         ;;
            *.tbz2)     tar -jxvf $1                        ;;
            *.tgz)      tar -zxvf $1                        ;;
            *.zip)      unzip $1                            ;;
            *.ZIP)      unzip $1                            ;;
            *.pax)      cat $1 | pax -r                     ;;
            *.pax.Z)    uncompress $1 --stdout | pax -r     ;;
            *.Z)        uncompress $1                       ;;
            *)          echo "$RED'$1' cannot be extracted/mounted via extract()$RESET_COLOR" ;;
        esac
    else
        echo "$RED'$1' is not a valid file.$RESET_COLOR"
    fi
}

# Concat using printf
# Usage: concat <seperator> <arg1> [... <argN>]
concat() {
    local d=$1; shift
    echo -n "$1"; shift
    printf "%s" "${@/#/$d}"
}

# Make dmg from folder
# Usage: mkdmg <src> [<dest>]
mkdmg() {
    if [ -z "$1" -o -z "${2:-1}" ]; then echo "usage: $0 <src> [<dest>]"; exit 1; fi
    hdiutil create -ov -volname "$(basename "$1")" -srcfolder "$1" -format UDZO "${2:-1}.dmg"
}

check_updates() {
    local timefile="$HOME/Library/Application Support/me.festen.update.timefile"
    local runtimefile="$HOME/Library/Application Support/me.festen.update.runtimefile"
    test ! -f "$timefile" && echo 0 > "$timefile"
    test ! -f "$runtimefile" && echo 0 > "$runtimefile"
    local since=$(format -o %s $(timer get $timefile))
    local boottime=$(sysctl -n kern.boottime | sed -e 's/{ sec = \([[:digit:]]\+\).*/\1/')
    local lastcheck=$(format -o %s $(cat $timefile))
    local cooldown=43200 # 0.5 day in seconds

    -cooldown-expired() { test "$since" -ge "$cooldown"; return $? }
    -first-check() { test "$lastcheck" -lt "$boottime"; return $? }

    # check if we can skip
    ! -cooldown-expired && ! -first-check && return 0
    read -rp "Update? [y/N] " response
    case $response in
        [yY][eE][sS]|[yY])
            printf 'Updating '
            start=$(gdate +%s.%3N)
            timer set $timefile
            indicator --type=countdown-using seconds $(cat $runtimefile) update
            t=$(($(gdate +%s.%3N) - $start))
            tf=$(format -o short $t)
            echo "done in $tf, enjoy $DEFAULT_USER!"
            -first-check && echo $t > $runtimefile
            ;;
    esac
}

reload() {
  [ "$1" = "-f" ] && rm "$HOME/Library/Application Support/me.festen.update.timefile"
  exec $SHELL -l
}

cleanup() {
    sudo -v
    (
        find {/opt,/Applications,$HOME} -name '.DS_Store' -delete &
        sudo rm -rfv /Volumes/*/.Trashes(N) &
        sudo rm -rfv $HOME/.Trash &
        sudo rm -rfv /private/var/log/asl/*.asl(N) &
        sudo rm -rfv $HOME/.{zsh,sh}_history &
        sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent' &
        find -L $HOME(N) -maxdepth 1 -name -prune -o -type l -exec rm -rf {} + &
        wait
    ) NO2
}
