#!/usr/bin/env zsh

check_updates() {
    local timefile="$HOME/Library/Application Support/me.festen.update.timefile"
    local runtimefile="$HOME/Library/Application Support/me.festen.update.runtimefile"
    test ! -f "$timefile" && echo 0 > "$timefile"
    test ! -f "$runtimefile" && echo 0 > "$runtimefile"
    local since=$(format -o %s $(timer get $timefile))
    local boottime=$(sysctl -n kern.boottime | sed -e 's/{ sec = \([[:digit:]]\+\).*/\1/')
    local lastcheck=$(format -o %s $(cat $timefile))
    local cooldown=43200 # 0.5 day in seconds

    -cooldown-expired() { test "$since" -ge "$cooldown"; return $? }
    -first-check() { test "$lastcheck" -lt "$boottime"; return $? }

    # check if we can skip
    ! -cooldown-expired && ! -first-check && return 0
    printf "Update? [y/N] "
    read -q
    ans=$?
    echo
    test $ans -eq 0 || return 0
    sudo -v
    start=$(gdate +%s.%3N)
    timer set $timefile
    update
    cleanup
    t=$(($(gdate +%s.%3N) - $start))
    tf=$(format -o short $t)
    -first-check && echo $t > $runtimefile
}

cleanup() {
    sudo -v
    (
        find {/opt,/Applications,$HOME} -name '.DS_Store' -delete &
        sudo rm -rfv /Volumes/*/.Trashes(N) &
        sudo rm -rfv $HOME/.Trash &
        sudo rm -rfv /private/var/log/asl/*.asl(N) &
        sudo rm -rfv $HOME/.{zsh,sh}_history &
        sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent' &
        find -L $HOME(N) -maxdepth 1 -name -prune -o -type l -exec rm -rf {} + &
        wait
    ) NO2 || return 0
}

# Concat using printf
# Usage: concat <seperator> <arg1> [... <argN>]
concat() {
    local d=$1; shift
    echo -n "$1"; shift
    printf "%s" "${@/#/$d}"
}

# Quick shortcut to an editor.
# Usage: edit [<path>]
edit() {
    eval $EDITOR "${@:-.}"
}

# Extracts archived files / mounts disk images
# Usage: extract <file>
extract () {
    if [ -f $1 ]; then
        case $1 in
            *.tar.bz2)  tar -jxvf $1                        ;;
            *.tar.gz)   tar -zxvf $1                        ;;
            *.bz2)      bunzip2 $1                          ;;
            *.dmg)      hdiutil mount $1                    ;;
            *.gz)       gunzip $1                           ;;
            *.tar)      tar -xvf $1                         ;;
            *.tbz2)     tar -jxvf $1                        ;;
            *.tgz)      tar -zxvf $1                        ;;
            *.zip)      unzip $1                            ;;
            *.ZIP)      unzip $1                            ;;
            *.pax)      cat $1 | pax -r                     ;;
            *.pax.Z)    uncompress $1 --stdout | pax -r     ;;
            *.Z)        uncompress $1                       ;;
            *)          echo "$RED'$1' cannot be extracted/mounted via extract()$RESET_COLOR" ;;
        esac
    else
        echo "$RED'$1' is not a valid file.$RESET_COLOR"
    fi
}

mkdocker-machine() {
    docker-machine create --driver parallels --parallels-cpu-count 2 --parallels-memory 4096 default
}

# Make dmg from folder
# Usage: mkdmg <src> [<dest>]
mkdmg() {
    if [ -z "$1" -o -z "${2:-1}" ]; then echo "usage: $0 <src> [<dest>]"; exit 1; fi
    hdiutil create -ov -volname "$(basename "$1")" -srcfolder "$1" -format UDZO "${2:-1}.dmg"
}

tmac() {
    clear
    local TAG=${1:-'sys'}
    tmux -CC attach -t $TAG
    test $? -ne 0 && tmux -CC new -s $TAG
}

tma() {
    clear
    local TAG=${1:-'sys'}
    if [ -z "$TMUX" ]; then
        tmux attach -t $TAG
        test $? -ne 0 && tmux new -s $TAG
    else
        tmux switch -t $TAG
        test $? -ne 0 && tmux new -s $TAG -d && tmux switch -t $TAG
    fi
}

tminit() {
    local skip=true
    test "$1" = '--force' && skip=false
    ! tmux has-session -t dev NOOP || ! tmux has-session -t sys NOOP && skip=false
    test -n "$1" && echo 'usage: tminit [--force]'
    $skip && return 0
    tmux kill-session -t sys NOOP
    tmux kill-session -t dev NOOP
    tmux new-session -d -s sys -n sys
    tmux new-session -d -s dev -n dev
    # tmux split-window -htdev:mc3
    # tmux send-keys -tdev:mc3 '~/code/mc-3.0/web' enter 'clear' enter
    # tmux select-pane -t1
    # tmux send-keys -tdev:mc3 '~/code/mc-3.0' enter 'clear' enter 'start web'
}

project() {
    local code="$HOME/code"
    local project_dir="$code/$1"
    local project="$1"
    local program="$(basename $0)"
    local formatted="$RESET$BOLD$project$RESET"
    local -a start_paths
    start_paths=("$project_dir/.bin/start" "$project_dir/bin/start")

    help() {
        echo "Usage: $program [project-name]"
        echo ""
        echo "Known projects:"
        for p in $code/*; do
            echo "  $(basename $p)"
        done
        return 0
    }

    test -z "$1" && help && return 0

    for start in $start_paths; do
        if [ -x $start ]; then
            echo "Starting project $formatted"
            eval $start
            return 0
        fi
    done

    if [ -d $project_dir ]; then
        cd $project_dir
        if [ $+commands[idea] ]; then
            echo "Opening $project_dir in Intellij IDEA"
            idea $project_dir
        else
            echo "Opening $project_dir in Finder"
            open $project_dir
        fi
    elif [ -n "$project" ]; then
        echo "${RED}Project $formatted$RED not found."
    else
        help
    fi
}

exit() {
    if [ -n "$TMUX" ]; then
        clear
        local windows=$(tmux display-message -p "#{session_windows}")
        local panes=$(tmux display-message -p "#{window_panes}")
        local session=$(tmux display-message -p "#S")
        local window=$(tmux display-message -p "#W")
        if [ "$session" = 'dev' ] && [ "$window" = 'mc3' ]; then
            tma sys
            osascript -e 'tell application "System Events" to keystroke "w" using command down' && clear
        elif [ "$panes" -gt 1 ]; then
            tmux kill-pane
        elif [ "$windows" -gt 1 ]; then
            tmux kill-window
        elif [ "$session" != 'sys' ]; then
            tma sys
        else
            builtin exit
        fi
    else
        builtin exit
    fi
}

pdf() {
    if [ $# -lt 1 -o "$1" = '--help' ]; then
        echo "usage: pdf <input1> [input2 .. inputN] <output>"
        echo "Converts a single or multiple input files (pdf or images) to a single output pdf."
        return 1
    fi
    local infiles=${@: 1:${#}-1}
    local outfile=${${@: -1}%.*}.pdf
    local tmpf=$(mktemp -d)

    for i in {1..$((${#}-1))}; do
        sips -s format pdf "${@:$i:1}" --out "$tmpf/$i.pdf" NOOP
        rm -f "${@:$i:1}" NOOP
    done
    gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/prepress -dNOPAUSE -dQUIET -dBATCH -dDetectDuplicateImages -dCompressFonts=true -r600 -sOutputFile=$(echo $outfile) $(echo $tmpf/*.pdf) NOOP
    rm -rf $tmpf NOOP
    echo $outfile
}
