"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    tabLength: 4
    tabType: "soft"
  "merge-conflicts": {}
  minimap: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tidy-tabs":
    minimumTabs: 1
    modifiedThreshold: 10
    runOnSave: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".python.regexp.source":
  editor:
    preferredLineLength: 100
".python.source":
  editor:
    preferredLineLength: 100
